* text=auto

.github export-ignore
src/AwsS3V3 export-ignore
src/FTP export-ignore
src/InMemory export-ignore
src/PHPSecLibV2 export-ignore
.gitattributes export-ignore
.gitignore export-ignore
build/ export-ignore
mocked-functions.php export-ignore
test-functions.php export-ignore
test_files/ export-ignore
**/*Test.php export-ignore
**/*Stub.php export-ignore
**/Stub*.php export-ignore
