includes:
    - phpstan-baseline.neon
parameters:
    level: 6
    paths:
        - src
    checkMissingIterableValueType: false
    reportUnmatchedIgnoredErrors: false
    checkGenericClassInNonGenericObjectType: false
    scanFiles:
        - src/AdapterTestUtilities/test-functions.php
    excludePaths:
        - src/AdapterTestUtilities/
        - src/AsyncAwsS3
        - src/AwsS3V3
        - src/FTP
        - src/InMemory
        - src/PhpseclibV2
        - src/PhpseclibV3
    ignoreErrors:
        - '#invalid typehint type FTP\\Connection#'
        - '#FTP\\Connection not found#'
        - '#unknown class FTP\\Connection#'
        - '#Call to function iterator_to_array\(\) on a separate line has no effect\.#'
        - '#Comparison operation "<" between 0|1 and 4 is always true.#'
        - '#Method League\\Flysystem\\AwsS3V3\\S3ClientStub.*#'
        - '#Constant NET_SFTP_TYPE_DIRECTORY not found\.#'
        - '#\$local_file of method phpseclib\\Net\\SFTP::get\(\) expects string, resource given#'
