<?xml version="1.0" encoding="UTF-8"?>
<phpunit backupGlobals="false" preserveGlobalState="false"
        backupStaticAttributes="false"
        bootstrap="./phpunit.php"
        colors="true"
        processIsolation="false"
        syntaxCheck="false">
    <testsuites>
        <testsuite name="flysystem/tests">
            <directory suffix=".php">./tests/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <blacklist>
            <directory suffix=".php">./vendor/</directory>
            <directory suffix=".php">./tests/</directory>
        </blacklist>
    </filter>
    <listeners>
        <listener class="Mockery\Adapter\Phpunit\TestListener" file="./vendor/mockery/mockery/library/Mockery/Adapter/Phpunit/TestListener.php"></listener>
        <listener class="League\PHPUnitCoverageListener\Listener">
            <arguments>
                <array>
                    <element key="printer">
                      <object class="League\PHPUnitCoverageListener\Printer\StdOut"/>
                    </element>
                    <element key="hook">
                      <object class="League\PHPUnitCoverageListener\Hook\Travis"/>
                    </element>
                    <element key="namespace">
                        <string>League\Flysystem</string>
                    </element>
                    <element key="repo_token">
                        <string>O6jilIz6cIrJ6t7sHUfKgmA5wUUOoXdQ6</string>
                    </element>
                    <element key="target_url">
                        <string>https://coveralls.io/api/v1/jobs</string>
                    </element>
                    <element key="coverage_dir">
                        <string>/tmp/flysystem/</string>
                    </element>
                </array>
            </arguments>
        </listener>
    </listeners>
    <logging>
        <log type="coverage-text" target="php://stdout" showUncoveredFiles="true"/>
        <log type="coverage-clover" target="/tmp/flysystem/coverage.xml" />
    </logging>
</phpunit>
