<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit.php">
    <testsuites>
        <testsuite name="Flysystem">
            <directory suffix="Test.php">src/</directory>
            <exclude>src/AwsS3V3/</exclude>
            <exclude>src/FTP/</exclude>
            <exclude>src/InMemory/</exclude>
            <exclude>src/PHPSecLibV2/</exclude>
        </testsuite>
    </testsuites>

    <filter>
        <whitelist>
            <directory>src/</directory>
            <exclude>
                <directory suffix=".php">src/AwsS3V3/</directory>
                <directory suffix=".php">src/FTP/</directory>
                <directory suffix=".php">src/InMemory/</directory>
                <directory suffix=".php">src/PHPSecLibV2/</directory>
                <directory suffix="Test.php">src/</directory>
                <directory suffix="Fixture.php">src/</directory>
            </exclude>
        </whitelist>
    </filter>
</phpunit>
