<?xml version="1.0" encoding="UTF-8"?>
<phpunit colors="true" bootstrap="phpunit.php">
    <testsuites>
        <testsuite name="Flysystem">
            <directory suffix="Test.php">src/</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="FLYSYSTEM_TEST_SFTP" value="yes" />
    </php>
    <groups>
        <exclude>
            <group>legacy</group>
        </exclude>
    </groups>
    <coverage>
        <include>
            <directory suffix=".php">src</directory>
        </include>
    </coverage>
</phpunit>
